@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
header{
    background-color: #00bfff;
    display: flex;
    justify-content: space-between;
    padding: 10px 05vw;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid rgb(29, 29, 28);
    color: white;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.logo{
    font-size: 75px;
    font-family: 'DM Sans', sans-serif;
background-repeat: no-repeat;
width: 100px;
height: 100px;
background-image: 100%;
background-size: 100%;

}
